.SideBarOption {
    display: flex;
    align-items: center;
    cursor: pointer; 
}
 
.SideBarOption:hover{
    background-color: #e8f5fe ; 
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
/* if  class SideBarOption having any chlild name MuiSvgIcon-root  */
.SideBarOption > .MuiSvgIcon-root {
    padding: 20px;
}

.SideBarOption > h2 {
    font-weight: 800;
}

.SideBar--active {
    color: var(--twitter-color);
}

